/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a { text-decoration: none; }

a img { border: 0; }

ul { list-style: none; }

/* Default layout */

html, body {
	height: 100%;
}

body {
  	font-family: 'Headland One', helvetica, arial, serif;
	font-size: small;
	font-weight: normal;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	background-color: #222;
}

/* Contact */

#contact {
	position: fixed;
	top: 0; right: 0;
	display: block;
	height: 60px;
	text-decoration: none !important;
	-webkit-transition: all 250ms ease;
  	-moz-transition: all 250ms ease;
  	-o-transition: all 250ms ease;
  	transition: all 250ms ease;
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	-o-transform-style: preserve-3d;
  	-ms-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}
#contact:hover {
  	-webkit-transform: rotateX(-90deg);
  	-moz-transform: rotateX(-90deg);
  	-o-transform: rotateX(-90deg);
  	-ms-transform: rotateX(-90deg);
  	transform: rotateX(-90deg);
}

	#contact .default-state {
  		-webkit-transform: translateZ(30px);
  		-moz-transform: translateZ(30px);
	  	-o-transform: translateZ(30px);
	  	-ms-transform: translateZ(30px);
	  	transform: translateZ(30px);
	}

	#contact .active-state {
  		-webkit-transform: rotateX(90deg) translateZ(90px);
  		-moz-transform: rotateX(90deg) translateZ(90px);
  		-o-transform: rotateX(90deg) translateZ(90px);
  		-ms-transform: rotateX(90deg) translateZ(90px);
  		transform: rotateX(90deg) translateZ(90px);
	}

	#contact .default-state,
	#contact .active-state {
		display: block;
		padding: 0 30px;
		line-height: 60px;
  		background: #F1C40F;
  		font-size: 20px;
  		color: #222;
  		-webkit-transition: background 250ms ease;
  		-moz-transition: background 250ms ease;
  		-o-transition: background 250ms ease;
  		transition: background 250ms ease;
	}
	#contact .active-state {
		background: #E7E7E7;
	}

/* */

#container {
	display: table;
	height: 100%;
}

	#container > div {
		display: table-cell;
		vertical-align: middle;
		padding: 100px;
		width: 100%;
		height: 100%;
	}

	#container > div:first-child {
	}

		#container section:first-child {
			margin-bottom: 60px;
		}

		#container h1 {
			margin-bottom: 30px;
			font-size: 36px;
			color: #FFF;
		}

			#social-links li {
			    display: inline;
			    margin-right: 20px;
			}

				#social-links li a {
				    border-bottom: 3px solid #3E3E3E;
				    color: #777;
				    display: inline-block;
				    font-weight: 400;
				    font-size: 20px;
				    padding-bottom: 1px;
				    text-decoration: none;
				    transition: all 0.5s ease 0s;
				}
				#social-links li a:hover {
					color: #FFF;
				}
				#social-links li a.google:hover {
					border-color: #D34836;
				}
				#social-links li a.twitter:hover {
					border-color: #8EC1DA;
				}
				#social-links li a.facebook:hover {
					border-color: #3B5998;
				}
				#social-links li a.lygue:hover {
					border-color: #257000;
				}
				#social-links li a.tygue:hover {
					border-color: #C0392B;
				}
				#social-links li a.playffs:hover {
					border-color: #3B5998;
				}
				#social-links li a.releez:hover {
					border-color: #430045;
				}
				#social-links li a.tube:hover {
					border-color: #D3DB0B;
				}

/* iPhone */

@media only screen and (max-width: 480px) {
	
}