/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a { text-decoration: none; }

a img {border: 0;}

ul {list-style: none;}

/* Default layout */

body {
  font-family: 'Headland One', helvetica, arial, serif;
	font-size: small;
	font-weight: normal;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	background: url('images/black_denim.png') left -25px repeat-x #FFF;
}

/* Header */

#header {
  margin: 0 50px;
}
#header h1 {
  margin-top: 30px;
  padding: 10px;
  width: 160px;
	height: 160px;
	border-radius: 200px;
	font-family: 'Dancing Script', serif;
	font-weight: normal;
	font-size: 900%;
	text-align: center;
	background-color: #FFF;
	color: #FFF;
}
#header h1 span {
  display: block;
  width: 160px;
	height: 160px;
	line-height: 160px;
	border-radius: 200px;
	background: url('images/black_denim.png') top left repeat #EAF204;
}
#header ul {
  float: right;
	padding-top: 30px;
}
#header ul li {
  float: left;
	margin-left: 15px;
}
#header ul li a {
  display: block;
	padding: 10px 20px;
	border-radius: 2px;
	background-color: rgba(0,0,0,0.05);
	color: #333;
	font-size: 120%;
}
#header ul li a:hover {
	background-color: rgba(0,0,0,0.1);
}

/* Content */

#content {
  margin: 50px;
}

#content article h1 {
  margin: 20px 0 20px 20px;
	font-weight: normal;
	font-size: 400%;
	color: #666;
}
#content article ul li {
  padding: 20px;
	border-bottom: 1px dotted #EEE;
}
#content article ul {
  margin-bottom: 40px;
}
#content article ul li a {
  color: #333;
	font-size: 300%;
}
#content article ul li a span {
  display: none;
	padding-right: 10px;
}
#content article ul li a:hover {
  color: #000;
}
#content article ul li a:hover span {
  display: inline;
}
#content article ul li div {
  float: right;
	line-height: 55px;
	font-size: 140%;
  color: #999;
}

#content article p {
  margin: 40px 0 0 20px;
  font-size: 140%;
}

#content #intro {
  margin-bottom: 80px;	
}
#content #contact {
  margin-top: 80px;	
}
#content #intro,
#content #contact {
  overflow: hidden;
}
#content #intro a,
#content #contact a {
  float: left;
  display: block;
	margin: 40px 0 0 20px;
	padding: 10px 40px;
	width: 260px;
	border-radius: 4px;
	color: #FFF;
  background-color: rgba(211,218,3,1);
	font-size: 160%;
	text-decoration: none;
	text-align: center;
}
#content #intro a:hover,
#content #contact a:hover {
  background-color: rgba(211,218,3,0.7);
}
#content #intro a.facebook {
  background-color: rgba(59,89,152,1);
}
#content #intro a.twitter {
  background-color: rgba(0,187,245,1);
}
#content #intro a.facebook:hover {
  background-color: rgba(59,89,152,0.9);
}
#content #intro a.twitter:hover {
  background-color: rgba(0,187,245,0.6);
}

/* Footer */

#footer {
  margin-top: 80px;
  padding: 50px 70px;
	background: url('images/black_denim.png') top left #222;
	color: #FFF;
}
#footer a {
  color: #FFF;
	border-bottom: 1px dotted #FFF;
}

/* iPhone */

@media only screen and (max-width: 480px) {

	#header, #content {
    margin: 10px;
	}
	
	#header h1 {
	  margin: 40px auto 0 auto;
	}
	#header ul {
	  display: none;
	}

  #content article h1 {
	  margin-left: 10px;
	  font-size: 160%;
	}
	#content article ul li {
	  padding: 10px 10px 10px 0;
	}
	#content article ul li a {
	  padding: 10px;
	  font-size: 120%;
	}
	#content article ul li a span {
	  display: inline;
	}
	#content article ul li div {
	  display: none;
	}
	#content article p {
	  margin-left: 10px;
	  margin-right: 10px;
	}
  #content #contact {
	  margin-top: 40px;
	}
  #content #intro a,
  #content #contact a {
		margin: 10px 0 0 10px;
		width: 160px;
		font-size: 120%;
	}
	
  #footer {
	  padding: 20px;
	}
	
}
