html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Noto Sans';
    background-color: #222;
    color: #fff;
}

a, a:hover {
    color: #d3db03;
}

#video {
    position: fixed;
    display: none;
    padding: 20px 60px;
    z-index: 100;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
    #video h2 {
        margin: 0;
        font-size: 120%;
    }
    #video p {
        margin-top: 10px;
    }

#search {
    height: 100%;
}
    .form-search {
        margin-top: calc(25% - 75px);
    }
        .form-search h1 {
            margin-bottom: 60px;
        }
        .form-search input {
            margin-bottom: 40px;
            padding: 10px;
            border-radius: 0;
            border: 5px solid #515151;
            background-color: transparent;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
        }
    #search img {
        display: none;
        margin-top: calc(25%);
    }

#videos {
    padding-top: 20px;
}
    #videos .row-fluid {
        margin-bottom: 20px;
    }
    #videos a {
        display: block;
        opacity: 0.5;
    }
    #videos a:hover {
        opacity: 1;
    }
