/*	Resets
	------	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
  display: block; }

a {
  text-decoration: none; }

a img {
  border: 0; }

ul {
  list-style: none; }

/* Default layout */
html, body {
  height: 100%; }

body {
  font-family: "Headland One", Helvetica, Arial, sans-serif;
  font-size: small;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  /* Stops Mobile Safari from auto-adjusting font-sizes */
  background-color: #222; }

/* Contact */
#contact {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  height: 60px;
  text-decoration: none !important;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  #contact .default-state {
    -webkit-transform: translateZ(30px);
    -o-transform: translateZ(30px);
    -ms-transform: translateZ(30px);
    transform: translateZ(30px); }
  #contact .active-state {
    -webkit-transform: rotateX(90deg) translateZ(90px);
    -o-transform: rotateX(90deg) translateZ(90px);
    -ms-transform: rotateX(90deg) translateZ(90px);
    transform: rotateX(90deg) translateZ(90px); }
  #contact .default-state, #contact .active-state {
    display: block;
    padding: 0 30px;
    line-height: 60px;
    background: #F1C40F;
    font-size: 20px;
    color: #222;
    -webkit-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: background 250ms ease; }
  #contact .active-state {
    background: #FFF; }

#contact:hover {
  -webkit-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg); }

#container {
  display: table;
  height: 100%; }
  #container > div, #container > section {
    display: table-cell;
    vertical-align: middle;
    padding: 100px;
    width: 100%;
    height: 100%; }
  #container > section {
    vertical-align: top; }

/* iPhone */
@media only screen and (max-width: 480px) { }

#home section:first-child {
  margin-bottom: 60px; }
#home h1 {
  margin-bottom: 30px;
  font-size: 36px;
  color: #FFF; }
#home #social-links li {
  display: inline;
  margin-right: 20px; }
  #home #social-links li a {
    border-bottom: 3px solid #3E3E3E;
    color: #777;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 1px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  #home #social-links li a:hover {
    color: #FFF; }
  #home #social-links li a.blog:hover {
    border-color: #F1C40F; }
  #home #social-links li a.twitter:hover {
    border-color: #8EC1DA; }
  #home #social-links li a.facebook:hover {
    border-color: #3B5998; }
  #home #social-links li a.lygue:hover {
    border-color: #257000; }
  #home #social-links li a.tygue:hover {
    border-color: #C0392B; }
  #home #social-links li a.playffs:hover {
    border-color: #3B5998; }
  #home #social-links li a.releez:hover {
    border-color: #430045; }
  #home #social-links li a.tube:hover {
    border-color: #D3DB0B; }

#blogs > ul li {
  margin-bottom: 30px;
  font-size: 36px; }
  #blogs > ul li a {
    color: #777;
    border-bottom: 3px solid #b3b3b3;
    display: block;
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 15px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  #blogs > ul li a:hover {
    color: #FFF;
    border-color: #F1C40F; }
#blogs > a {
  color: #999;
  border-bottom: 3px solid #b3b3b3;
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  padding-bottom: 1px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
#blogs > a:hover {
  color: #FFF;
  border-color: #F1C40F; }
#blogs article {
  line-height: 32px;
  color: #999;
  font-size: 20px; }
  #blogs article h1 {
    margin-bottom: 30px;
    line-height: 1.2;
    font-size: 36px;
    color: #FFF; }
  #blogs article h2 {
    margin: 45px 0 15px 0;
    font-size: 24px;
    color: white; }
  #blogs article p {
    margin: 15px 0; }
  #blogs article a {
    color: #999;
    border-bottom: 3px solid #b3b3b3;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  #blogs article a:hover {
    color: #FFF;
    border-color: #F1C40F; }
  #blogs article em {
    color: #FFF; }
  #blogs article footer {
    margin-top: 60px;
    color: #333333; }
  #blogs article .gist {
    margin: 30px 0;
    max-width: 75%;
    line-height: 1.5;
    color: #b3b3b3;
    font-size: 80%; }
    #blogs article .gist .gist-file {
      border-color: #3c3c3c; }
      #blogs article .gist .gist-file .gist-data {
        border-bottom-color: #3c3c3c;
        background-color: #2f2f2f; }
        #blogs article .gist .gist-file .gist-data .line-numbers {
          background-color: #2f2f2f;
          border-right-color: #3c3c3c; }
      #blogs article .gist .gist-file .gist-meta {
        background-color: #2f2f2f;
        background-image: none;
        text-shadow: none;
        color: #b3b3b3; }
